################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TopMessenger/obj/Debug
/TopMessenger/bin/Debug
/packages
/.vs
